@import "tailwindcss";
@plugin "daisyui";

@theme {
    /* Primary */
    --color-primary-blue-950: hsl(213, 96%, 18%);
    --color-primary-purple-600: hsl(243, 100%, 62%);
    --color-primary-blue-300: hsl(228, 100%, 84%);
    --color-primary-blue-200: hsl(206, 94%, 87%);
    --color-primary-red-500: hsl(354, 84%, 57%);

    /* Neutral */
    --color-neutral-grey-500: hsl(231, 11%, 63%);
    --color-neutral-purple-200: hsl(229, 24%, 87%);
    --color-neutral-blue-100: hsl(218, 100%, 97%);
    --color-neutral-blue-50: hsl(231, 100%, 99%);
    --color-neutral-white: hsl(0, 100%, 100%);

    /* Typography */
    --font-weight-light: 400;
    --font-weight-regular: 500;
    --font-weight-bold: 700;

    --font-ubuntu: Ubuntu;

    --breakpoint-mobile: 768px;

}

@layer base {
    :root {
        font-size: 16px;  @media screen and (width < 768px) {font-size: 14px;}
        font-family: var(--font-ubuntu), monospace, Arial, sans-serif;
    }

    body {
        min-height: 100vh; @media screen and (width < 768px) {min-height: 120vh;}
        background-color: var(--color-neutral-blue-100);
    }

    main {
        width: min(100%, 850px);
        min-height: 500px;
        margin: auto;
        padding: 1rem;
        background-color: var(--color-neutral-white); @apply max-mobile:bg-transparent max-mobile:shadow-none!;
        box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
        border-radius: 0.75rem;

        display: flex;
        gap: 1rem;

        body:has(&) {
            display: grid;
            place-items: center;
            align-content: center;
        }
    }
}

@layer components {
    .bg-sidebar-img {
        background: url(../images/bg-sidebar-desktop.svg) center;
        background-size: cover;
    }
    .bg-mobile-sidebar-img {
        background: url(../images/bg-sidebar-mobile.svg) center;
        background-size: cover;
    }

    .section-one {
        main:has(&) section:first-child article:first-child div:first-child {
            color: var(--color-primary-blue-950);
            border-color: transparent !important;
            background-color: var(--color-primary-blue-200);
        }
    }
    .section-two {
        main:has(&) section:first-child article:nth-child(2) div:first-child {
            color: var(--color-primary-blue-950);
            border-color: transparent !important;
            background-color: var(--color-primary-blue-200);
        }
    }
    .section-three {
        main:has(&) section:first-child article:nth-child(3) div:first-child {
            color: var(--color-primary-blue-950);
            border-color: transparent !important;
            background-color: var(--color-primary-blue-200);
        }
    }
    .section-four {
        main:has(&) section:first-child article:nth-child(4) div:first-child {
            color: var(--color-primary-blue-950);
            border-color: transparent !important;
            background-color: var(--color-primary-blue-200);
        }
    }


    .input-field {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        color: var(--color-primary-blue-950);
        position: relative;

        label {
            text-transform: capitalize;
        }

        input {
            font-weight: var(--font-weight-bold);
            outline: none;
            border: 1px solid var(--color-neutral-purple-200);

            &:focus {
                border-color: var(--color-neutral-grey-500);
            }

            &::placeholder {
                font-size: 0.9em;
                font-weight: 600;
            }

            width: 100%;
            height: 40px;
            padding-inline: 1rem;
            border-radius: 0.5rem;
        }

        .error {
            position: absolute;
            right: 0;
            top: 6px;
            font-weight: 600;
            font-size: 0.8em;
            color: var(--color-primary-red-500);
        }
    }

    .btn-primary {
        background-color: var(--color-primary-blue-950);
        color: var(--color-neutral-white);
        font-weight: var(--font-weight-bold);
        padding-block: 0.25rem;
        padding-inline: 1.5rem;
        width: fit-content;
        height: 40px;
        border-radius: 0.5rem;
        outline: none;
        cursor: pointer;

        &:is(:hover, :focus, :active) {
            background-color: var(--color-primary-purple-600);
        }

        transition: background-color 200ms ease-out;
    }

    .not-visible {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .on-checked {
        label:has(&) {
            border: 1px groove var(--color-neutral-purple-200);
        }

        &:checked {
            label:has(&) {
                background-color: var(--color-neutral-blue-50);
                border: 1px groove var(--color-primary-purple-600);
            }
        }

        &:hover {
            label:has(&) {
                border: 1px groove var(--color-primary-purple-600);
            }
        }
    }

    .mobile-sidebar {
        @media screen and (width < 768px) {
            @apply absolute top-0 left-0 right-0 z-5 w-full max-mobile:h-[196px] max-mobile:rounded-none max-mobile:bg-[url(../images/bg-sidebar-mobile.svg)] bg-center bg-cover bg-no-repeat justify-center items-start;
        }
    }
    .mobile-form {
        @media screen and (width < 768px) {
            @apply absolute top-[100px] right-5 left-5 z-10 bg-neutral-white rounded-xl px-8;
            box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
        }
    }
}